* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("../Sprinkle.svg");
  background-size: cover;
  background-attachment: fixed;
}
#streams {
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 10px;
}
#streams video:nth-child(2) {
  position: relative;
  width: 95%;
  height: 90vh;
  border-radius: 10px;
}
#localVideo {
  z-index: 99;
  height: 8rem;
  width: 11rem;
  border-radius: 25px;
  position: fixed;
  top: 10px;
  left: 10px;
  box-shadow: -1px 0px 6px 2px #ffffffad;
}
#remoteVideo {
  border-radius: 25px;
  border: 1px solid #000000;
  background-color: #bbb8bc57;
}
.head {
  text-align: center;
  border: 1px solid white;
  background-color: #e3e3e37d;
  padding: 10px;
}
.head a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
#dashboard {
  position: absolute;
  z-index: 99;
  left: 35%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 15px;
  background: #ffffffc9;
}
#dashboard button {
  padding: 8px;
  background-color: white;
  margin-top: 4px;
}
#dashboard input {
  padding: 8px;
  border-radius: 5px;
}
#controls {
  z-index: 999;
  position: fixed;
  bottom: 40px;
  left: 40%;
  background-color: #c6c6c69c;
  border-radius: 10px;
  padding: 10px;
}
#controls #muteButton {
  background-color: transparent;
  border-color: transparent;
  transform: scale(2, 2);
  margin: 20px;
  cursor: pointer;
}
#controls #videoButton {
  background-color: transparent;
  border-color: transparent;
  transform: scale(2, 2);
  margin: 20px;
  cursor: pointer;
}
#controls #closeChat {
  background-color: transparent;
  border-color: transparent;
  transform: scale(2, 2);
  margin: 20px;
  cursor: pointer;
  color: red;
}
#controls #videoButton:hover {
  color: #2c2c2cab;
}
#controls #closeChat:hover {
  color: #ff000080;
}
#menu {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10% 0 0;
}
#controls #muteButton:hover {
  color: #2c2c2cab;
}
.hidden {
  display: none !important;
}
.block {
  display: block;
}
#infoMsg{
  background:black;
  padding:5px;
  border-radius:5px;
  color:white;
  position:relative;
  text-align:center;
}